*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    height: 40px;
    align-items: center;
}

.logo{
    color: white;
}

.navLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navLink{
    width: 100px;
    border-radius: 10px;
    color: white;
    list-style: none;
    transition-duration: 600ms;
    text-align: center;
    user-select: none;
}

.navLink:hover{
    background-color: white;
    border-bottom: 1px solid red;
    color: red;
    height: 30px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}